
.body-home {
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/0.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}

.body-sport{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/1.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}

.body-business{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/2.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}
.body-env{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/3.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}
.body-food{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/4.png");
    background-repeat: no-repeat; 
    
     background-attachment:local; 
     background-size:cover;
}
.body-health{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/5.png");
     background-repeat: no-repeat; 
    
     background-attachment:local; 
     background-size:cover;
  
    /* background-repeat: no-repeat;
  background-attachment: local;
  background-position: top; */
}
.body-politics{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/6.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}
.body-science{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/7.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}
.body-tech{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/8.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative; 
}
.body-top{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/9.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}
.body-world{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/0.png");
     background-repeat: no-repeat; 
     background-attachment:local; 
     background-size: contain;
    position: relative;
}
.body-weather{
    padding-top:2rem ;
    max-width: 900px ;
    margin: auto;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb; 
    background-image: url("../poze/11.png");
    background-repeat: no-repeat; 
    
    background-attachment:local; 
    background-size:cover;
} 

 .body-weather{

    max-width: 380px  ;
    margin: auto;
    padding-bottom: 5rem;
    font-family:'Times New Roman', Times, serif;
    background-color: #282c34cb;
    
   
   
} 


.form{
    padding-top: 4rem;
    text-align: center;
    
}

.input{
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 0.3rem;
    margin-right: 1rem;
    font-family:'Times New Roman', Times, serif;

    
}

header{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-bottom: 3rem;
   padding-top: 6rem;

    
}

.log{
    background-color:#fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 1rem;
    min-width: 100px;
    margin-right: 1rem;
    font-family:'Times New Roman', Times, serif;
    color: #000;
}

.reg{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 1rem;
    min-width: 100px;
    margin-right: 1rem;
    font-family:'Times New Roman', Times, serif;
    color: #000;

}

h2 {

    font-size: 30px;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
   
}
.bus{
    margin: auto;
}

a{
    font-family:'Times New Roman', Times, serif;
    color: #fff;
    text-decoration: none;
}

a.titlu{
    color: #000;
}

h1{
    
    position: absolute;
  top: 8px;
  left: 16px;
  font-size: 30px;
  
}

.mij{
    max-width: 600px ;
    margin: auto;
}

p {
    line-height: 1.6;
   font-family:'Times New Roman', Times, serif;
   font-style: italic;
}
.stire{
    padding-top: 5rem; 
    line-height: 1.6;
    border-radius: 30px;
    background-color: rgb(139, 139, 139);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  
}

article + article{

   margin-top: 3rem;
   padding-top: 3rem;
   border-top: 1px solid grey;
   
}

img{

    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
  
}



.main-news{
    background-color: #fff;
    border: solid 3px rgb(139, 139, 139);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 1rem;
    min-width: 100px;
    margin-right: 1rem;

}


.dash {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 1rem;
    min-width: 100px;
    margin-right: 1rem;
    font-family:'Times New Roman', Times, serif;
    color: #000;
}

.log {
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
}

.reg {
    font-size: 1rem;
    margin-left: 1rem;
    font-family:'Times New Roman', Times, serif;

}

.button{
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 1rem;
    min-width: 100px;
    margin-right: 1rem;
    font-family:'Times New Roman', Times, serif;
   

  }

  .button:hover {
    opacity: 2;
    background-color: #b4b4b4;
    color: #fff;
}

.all {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

}


.log:hover{
    opacity: 2;
    background-color: rgb(139, 139, 139);
    color: #fff;

}

.reg:hover{
    opacity: 2;
    background-color: rgb(139, 139, 139);
    color: #fff;

}

.dash:hover{
    opacity: 2;
    background-color: rgb(139, 139, 139);
    color: #fff;
    

}
footer{
    padding-top: 4rem;
   
}

.footer{
    
    background-color: rgb(139, 139, 139);
    border: solid 3px grey;
   padding-bottom: 2rem;
    border-radius: 30px;
    
}

.m-footer{
    background-color: #fff;
    border: solid 3px rgb(139, 139, 139);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 1rem;
    min-width: 100px;
    margin-right: 1rem;

}

.forc{

    height: 25px;
    width: 25px;
  
    border-radius: 50%;
    display: inline-block;
    padding-left: 1rem;
   
   
  }

  .tabel{
    
    padding-left: 3.5rem;
  }